<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polisee</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
<!--     <div>
      <%# if current_user %>
        Signed in as <strong><%#= current_user.name %></strong>!
        <%#= link_to "Sign out", signout_path, id: "sign_out" %>
      <%# else %>
        <%#= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
      <%# end %>
    </div>
    <div> -->
    <%= yield %>
    </div>
  </body>

  <%= render "layouts/footer" %>

</html>
